 <div class="form-content">
    <form class="form" action="registration" method="post">
        <div class="form-head">User Registration Form</div>
        <label  class="label text">Username</label>: <input class="input" type="text" name="username" placeholder="username"><br>
        <label class="label text">First Name</label>: <input class="input" type="text" name="first_name" placeholder="first name"><br>
        <label class="label text">Last Name</label>: <input class="input" type="text" name="last_name" placeholder="last name"><br>
        <label class="label text">Email</label>: <input class="input" type="text" name="email" placeholder="email"><br>
        <label class="label text">Password</label>: <input class="input" type="password" name="password" placeholder="password"><br>
        <label class="label text">age</label>: <input class="input" type="text" name="age" placeholder="age"><br>
        <label class="label text">phone</label>: <input class="input" type="text" name="phone" placeholder="Number"><br>
        <button class="text" type="submit">Sign up</button><br>
    </form>
 </div>